<!DOCTYPE html>
<html lang="en">
@@include('../_template/_header.tpl')

<body>
    <div class="page-group">
        <div class="page" id="transaction-ctt">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-transition='slide-out'>
                    <span class="icon-return"></span>
                </a>
                <h1 class="title font-30 create-actions">找不到页面</h1>
            </header>
            <div class="content">
                <h1>页面未找到</h1>
            </div>
        </div>
    </div>
    @@include('../_template/_footer.tpl')
</body>

</html>
