<!DOCTYPE html>
<html lang="en">
@@include('_template/_header.tpl')

<body>
    <div class="page-group">
        <div class="page" id="product-about-ctt">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-no-cache="true" href="/" data-transition='slide-out'>
                    <span class="icon-return"></span>
                </a>
                <h1 class="title font-30">基金介绍</h1>
            </header>
            <div class='content native-scroll no-scroll-x'>
                <div class="about-banner">
                    <img src="../images/about-banner.png" alt="">
                    <div class="fund-description">
                        汇存钱是盒子支付于2016年12月向客户重磅推出的活期资金管理服务。汇存钱对接的是正规基金公司旗下货币基金，具有操作简单、低门槛、低手续费、高利率、随存随取的特点，是移动互联网时代一款超值超好用的现金管理工具。
                    </div>
                </div>
                <div class="about-content">
                    <ul>
                        <li>
                            <div class="about-content-title">
                                <i class="about-icon about-icon-flower"></i>
                                <span>汇存钱产品介绍</span>
                            </div>
                            <div class="about-content-detail">
                                <p>① 年化收益率：3.8%</p>
                                <p>② 起投金额：10元</p>
                                <p>③ 每日投资上限：100万元</p>
                                <p>④ 起息时间：T+2日</p>
                                <p>⑤ 计息方式：每日计息</p>
                                <p>⑥ 封闭期（不可赎回期）：T+1日17:00之前</p>
                                <p>⑦ 赎回开始时间：T+1日17:00以后，T+1日17:00到T+1日24:00之间赎回无收益，T+2日24:00之后赎回有收益</p>
                                <p>⑧ 赎回金额：单笔赎回上限100万元</p>
                                <p>⑨ 赎回时间：T0到账</p>
                            </div>
                        </li>
                        <li>
                            <div class="about-content-title">
                                <i class="about-icon about-icon-flower"></i>
                                <span>汇存钱特征</span>
                            </div>
                            <div class="about-content-detail">
                                <p>① 高收益：作为一款活期理财产品，3.8%年化收益率是银行活期理财收益数十倍，是余额宝理财收益数倍。 </p>
                                <p>② 低门槛：起投金额10元，满足您小额资金理财需求，让您的每一分钱活动起来，为您赚足收益。 </p>
                                <p>③ 低费用：申购赎回不需要任何手续费，使您的理财收益最大化</p>
                                <p>④ 收益惊喜连连：复利计息，让您钱生钱。 </p>
                                <p>⑤ 赎回简单便捷：封闭期不足48小时，几乎可随时赎回。 </p>
                                <p>⑥ 安全保障：该产品合作方为恒丰银行，银行加持安全省心。</p>
                            </div>
                        </li>
                        <li>
                            <div class="about-content-title">
                                <i class="about-icon about-icon-flower"></i>
                                <span>汇存钱相关问题</span>
                            </div>
                            <div class="about-content-detail">
                                <div class="about-content-subtitle">
                                	<i class="about-subicon about-subicon-question"></i>
                                    <span>如何快速获得收益？</span>
                                </div>
                                <div class="about-content-subdetail">
                                    <p>汇存钱并不是当日申购当天计算收益的。申购资金会在T+1日划付至恒丰银行，基金公司在次日确认份额后开始计息，T+2日开始产生收益，T+3日赎回即可获取收益。作为一款货币基金，汇存钱遵循工作日（不包含周六日和节假日）的规则。</p>
                                </div>
                            </div>
                            <div class="about-content-detail">
                                <div class="about-content-subtitle">
                                	<i class="about-subicon about-subicon-question"></i>
                                    <span>汇存钱到账时间说明</span>
                                </div>
                                <div class="about-content-subdetail">
                                    <p>汇存钱赎回采用T0到账机制，当日赎回当日到账。</p>
                                </div>
                            </div>
                            <div class="about-content-detail">
                                <div class="about-content-subtitle">
                                	<i class="about-subicon about-subicon-question"></i>
                                    <span>汇存钱赚钱流程</span>
                                </div>
                                <div class="about-content-subdetail">
                                    <p>
                                    	<div>
                                    		<span class="about-flow1">申购</span>
                                    		<span class="about-flow2">获得收益</span>
                                    		<span class="about-flow3">赎回</span>
                                    	</div>
                                    </p>
                                </div>
                            </div>
                            <div class="about-content-detail">
                                <div class="about-content-subtitle">
                                	<i class="about-subicon about-subicon-question"></i>
                                    <span>汇存钱如何计算收益？</span>
                                </div>
                                <div class="about-content-subdetail">
                                    <p>
                                    汇存钱每天的收益都不相同，计算公式如下： 收益=（已确认金额/10000）*当日万份收益 例如，您有10万元已确认金额，当日万份收益是0.8，那么您的当日收益就是（10万/1万）*0.8=8元 昨日收益查看路径: 
                                    </p>
                                    <p class="underline">登录钱盒客户端进入汇存钱首页即可查看昨日收益。</p>
                                </div>
                            </div>
                            <div class="about-content-detail">
                                <div class="about-content-subtitle">
                                	<i class="about-subicon about-subicon-tips"></i>
                                    <span>小贴士</span>
                                </div>
                                <div class="about-content-subdetail">
                                    <p>
                                        ① 汇存钱是复利的，每日收益会计入已确认份额，用来计算次日收益；
                                    </p>
                                    <p>
                                        ② 已确认金额在周末和节假日同样能享受收益。
                                    </p>
                                </div>
                            </div>
                            <div class="about-content-detail">
                                <div class="about-content-subtitle">
                                	<i class="about-subicon about-subicon-question"></i>
                                    <span>如何更换银行卡？</span>
                                </div>
                                <div class="about-content-subdetail">
                                    <p>
                                        为保护用户利益，汇存钱采用通卡进出机制，使用哪张卡收购，赎回时同样返回哪张银行卡，银行卡信息需同步至汇存钱平台、银行和基金公司，所以如需更换银行卡需要人工介入进行更换，如有更换银行卡需求，请拨打客服电话<a class="underline" href="tel:10109888">10109888</a>。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @@include('_template/_footer.tpl')
</body>

</html>
