<!DOCTYPE html>
<html lang="en">

<head>
    @@include('_template/_header.tpl')
</head>

<body>
    <div class="page-group">
        <div class="page" id="cardDetail-ctt">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-no-cache="true" href="/" data-transition="slideout">
                    <span class="icon-return"></span>
                </a>
                <h1 class="title">银行卡信息</h1>
            </header>
            <div class="content cardDetail-content">
                <!-- script insert -->
                <!-- <div class="insert-phone">
                    <span><img class="wh-1" src="images/mobile.png"></span>
                    <span><input class="font-15 phone-num" type="text" placeholder="请输入手机号"></span>
                </div>
                <div class="insertCode">
                        <span><img class="wh-1" src="images/draw.png"></span>
                        <span><input class="font-15 verify" type="number" placeholder="请输入校验码"></span>
                        <button class="font-15 sendCode">发送校验码</button>
                </div>
                <div class="footer-warp">
                    <div class="bigBtn sendPwd font-18" disabled = "true">完成</div>
                </div> -->
            </div>
            <div class="footer-span-card-detail">
                <span>由于基金产品合规要求,该产品仅支持同卡进出,</span>
                <span>如更改绑定银行卡需人工介入,请拨打客服电话:</span>
                <span><img class="wh-12" src="./img/icon-num.png"><a class="underline" href="tel:10109888">10109888</a></span>
            </div>
        </div>
        <script id="cardDetail-tpl" type="text/template">
            <div class="card-message">
                <dl>
                    <dt>
                        <img src="../images/bankImg/<%=bankCode%>.png" alt="">
                    </dt>
                    <dd>
                        <h4><%=bankName%></h4>
                        <span>尾号<%=bankAccount%>储蓄卡</span>
                    </dd>
                </dl>
            </div>
            <div class="list-block owner-message">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label card-owner">持卡人</div>
                            <div class="item-input">
                                <%=name%>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label card-owner">身份证号</div>
                            <div class="item-input">
                                <%=idNo%>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label card-owner">预留手机号</div>
                            <div class="item-input"><%=mobile%></div>
                        </div>
                    </li>
                </ul>
            </div>
        </script>
    </div>
    @@include('_template/_footer.tpl')
</body>

</html>
