<!DOCTYPE html>
<html lang="en">
@@include('_template/_header.tpl')

<body>
    <div class="page-group">
        <div class="page" id="home-ctt">
            <header class="bar bar-nav">
                <span class="button button-link button-nav pull-left back-to-app">
                    <span class="icon-return"></span>
                </span>
                <a class="button button-link button-nav pull-right" href="/my.html" data-transition='slide-out'>
                    <span class="icon-xq"></span>
                </a>
                <h1 class="title font-30">汇存钱</h1>
            </header>
            <nav class="bar bar-tab bar-bottom-tab row no-gutter"></nav>
            <div class="content pull-to-refresh-content no-top" data-ptr-distance="55">
                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>
                <div id="cttItems"></div>
            </div>
        </div>
        <script id="home-template" type="text/template">
            <div id="block" class="card card-common bg-index">
                <div class="card-header line-no tc white my-profit-y">昨日收益(元)</div>
                <div class="card-content tc white my-profit-content">
                    <span><%=dataFormat("money",yesterdayProfit)%></span>
                </div>
            </div>
            <div class="card card-common seven-profit-card">
                <div class="card-header">
                    <div class="row no-gutter w100p">
                        <a class="col-50 bd-r profit-l" href="/myAssets.html" data-transition='slide-out'>
                            <div>总金额(元)</div>
                            <div class="money-bg">
                                <%=dataFormat("money",totalAssets)%>
                            </div>
                        </a>
                        <a class="col-50 profit-r" href="/detail.html?type=I" data-transition='slide-out'>
                            <div>万份收益</div>
                            <div class="money-bg">+
                                <%=moreIncome%>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-content profit-trend">
                    <div class="card-content-inner seven-profit">七日年化收益率(%)</div>
                    <div id="home_chart" class="seven-profit-chart"></div>
                </div>
            </div>
        </script>
        <script id="home-nav" type="text/template">
            <%if(isRedeem=="0"){%>
                <%if (isSetPwd == "0") {%>
                    <a class="btn-bottom btn-bottom-lf col-100" href='setPwd.html'>申  购</a>
                    <%}else if(isBindBank == '0'){%>
                        <a class="btn-bottom btn-bottom-lf col-100" href='cardIndent.html'>申  购</a>
                        <%}else {%>
                            <a class="btn-bottom btn-bottom-lf col-100" href='invest.html'>申  购</a>
                            <%}%>
                                <%} else{%>
                                    <%if (isSetPwd == "0") {%>
                                        <a class="btn-bottom btn-bottom-lf col-50" href='setPwd.html'>申  购</a>
                                        <%}else if(isBindBank == '0'){%>
                                            <a class="btn-bottom btn-bottom-lf col-50" href='cardIndent.html'>申  购</a>
                                            <%}else{%>
                                                <a class="btn-bottom btn-bottom-lf col-50" href='invest.html'>申  购</a>
                                                <%}%>
                                                    <a class="btn-bottom btn-bottom-rt col-50" href='redeem.html'>赎  回</a>
                                                    <%}%>
        </script>
    </div>
    @@include('_template/_footer.tpl')
</body>

</html>
