<!DOCTYPE html>
<html lang="en">
@@include('_template/_header.tpl')

<body>
    <div class="page-group">
        <div class="page" id="updatePwd-ctt">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-no-cache="true" href="/" data-transition='slide-out'>
                    <span class="icon-return"></span>
                </a>
                <h1 class="title font-30">修改资金密码</h1>
            </header>
            <div class='updatePwd content native-scroll no-scroll-x'>
                <div class="show-mobile">
                    
                </div>
                <div class='list-block'>
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content old-pwd">
                                <div class="item-media"><img class='wh-1' src="images/lock.png"></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password"  placeholder="请输入原密码">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content new-pwd">
                                <div class="item-media"><img class='wh-1' src="images/newPwd.png"></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input  type="password" placeholder="请输入新密码">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content confirm-pwd">
                                <div class="item-media"><img class='wh-1' src="images/conPwd.png"></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input  type="password" placeholder="请再次输入新密码" class="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="insert-code">
                    <span><img class='wh-1' src="images/draw.png"></span>
                    <span><input  placeholder="请输入校验码" class="verify" type='number'></span>
                    <button class="send-code">发送校验码</button>
                </div>
                <div class="footer-warp">
                    <div class="big-btn send-pwd" disabled>完成</div>
                    <div class="forgot-pwd">
                        <a href="javascript:void(0);" data-no-cache="true">忘记密码？</a>
                        <a class="find-pwd" href="setPwd.html" data-no-cache="true">找回</a>
                    </div>
                </div>

            </div>
        </div>
        <script id="pwd-template" type="text/template">
            <span><img class='wh-1' src="images/mobile.png"></span><span>手机号</span><span><%=dataFormat('num',mobile)%></span>
            <input type="hidden" id="phone-number" value = "<%=mobile%>">
        </script>
    </div>
    @@include('_template/_footer.tpl')
</body>

</html>
