<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>汇存钱</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/purchase.css">
    <link rel="stylesheet" href="css/redeem.css">
    <!-- endbuild -->
</head>


<body>
    <div class="page-group">
        <div class="page" id="transaction-ctt">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-no-cache="true" href="/" data-transition='slide-out'>
                    <span class="icon-return"></span>
                </a>
                <a class="button button-link button-nav pull-right open-panel">
                    <span class="icon-xq"></span>
                </a>
                <div>
                    <h1 class="title font-30 create-actions">
                        <span class="transaction-title">资产明细</span>
                    </h1>
                </div>
            </header>
            <div class="content pull-to-refresh-content no-top infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="1">
                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>
                <!-- 下面是正文 -->
                <div class="list-block media-list mg-no">
                    <ul id="cttItems">
                    </ul>
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader" style="display: none;">
                    <div class="preloader"></div>
                </div>
                <p class='message-no-data' style="display:none;">no more data ...</p>
            </div>
        </div>
        <div class="panel panel-right panel-reveal theme-white" id="transaction-panel">
            <div class="content-block">
                <p>资金类别</p>
            </div>
            <div class="list-block mg-no">
                <ul>
                    <li>
                        <a class="item-link item-content">
                            <div class="item-media capital-all"><i></i></div>
                            <div class="item-inner active" data-type=''>
                                <div class="item-title">全部</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content">
                            <div class="item-media capital-road"><i></i></div>
                            <div class="item-inner" data-type='S'>
                                <div class="item-title">申购</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content">
                            <div class="item-media capital-ing"><i></i></div>
                            <div class="item-inner" data-type='R'>
                                <div class="item-title">赎回</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content">
                            <div class="item-media capital-profit"><i></i></div>
                            <div class="item-inner" data-type='I'>
                                <div class="item-title">收益</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-overlay"></div>
        <script id="transaction-template" type="text/template">
            <% _.each(collection, function(m) { %>
                <li class='fund-li'>
                    <a href="" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <%if(m.transactionType!="R"){%>
                                    <div class="item-title">
                                        <%=m.assetsTypeName%>
                                    </div>
                                    <div class="item-after">
                                        <%=m.amount%>
                                    </div>
                                    <%} else{%>
                                        <div class="item-title">
                                            <%=m.assetsTypeName%>
                                        </div>
                                        <div class="item-after-green">
                                            <%=m.amount%>
                                        </div>
                                        <%}%>
                            </div>
                            <div class="item-subtitle">
                                <div class="pull-left">余额:
                                    <%=m.balance%>
                                </div>
                                <div class="pull-right">
                                    <%=m.finishDatetime%>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <% }); %>
        </script>
    </div>
    <!-- build:js js/app.min.js -->
	<script src="lib/zepto/zepto.js"></script>
	<script src="lib/echarts/echarts.min.js"></script>
	<script src="lib/zepto/deferred.js"></script>
	<script src="lib/zepto/callbacks.js"></script>
	<script src="lib/sm/sm.js"></script>
	<script src="lib/backbone/underscore-min.js"></script>
	<script src="lib/backbone/backbone.js"></script>
	<script src="lib/crypto/crypto-js.js"></script>
	<script src="script/common/config.js"></script>
	<script src="script/common/validate.js"></script>
	<script src="script/service/cache-service.js"></script>
	<script src="script/common/service-helper.js"></script>
	<script src="script/service/test-service.js"></script>
	<script src="script/controller/commonController.js"></script>
	<script src="script/controller/home.js"></script>
	<script src="script/controller/index.js"></script>
	<script src="script/controller/detail.js"></script>
	<script src="script/controller/settings.js"></script>
	<script src="script/controller/subscribe.js"></script>
	<script src="script/controller/setPwd.js"></script>
	<script src="script/controller/updatePwd.js"></script>
	<script src="script/controller/redeem.js"></script>
	<script src="script/controller/cardIndent.js"></script>
	<script src="script/controller/myAssets.js"></script>
	<script src="script/controller/invest.js"></script>
	<script src="script/controller/accountInfo.js"></script>
	<script src="script/controller/my.js"></script>
	<script src="script/controller/cardDetail.js"></script>
	<script src="script/controller/error.js"></script>
	
	<!-- endbuild -->

	<!-- 这段代码放在最后 -->
	<script>$(function() { $.init(); });</script>
	<script>
		(function (doc, win) {
		    var docEl = doc.documentElement;
		    var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';

		    var recalc = function () {
		        var clientWidth = docEl.clientWidth;
		        if (!clientWidth) return;
		        if(clientWidth>=640){
		            clientWidth=640;
		        }
		        docEl.style.fontSize = 20 * (clientWidth / 640) + 'px';
		    };
		    if (!doc.addEventListener) return;
		    win.addEventListener(resizeEvt, recalc, false);
		    doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
</body>

</html>
