<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>汇存钱</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/purchase.css">
    <link rel="stylesheet" href="css/redeem.css">
    <!-- endbuild -->
</head>


<body>
    <div class="page-group">
        <div class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-no-cache="true" href="/" data-transition='slide-out'>
                    <span class="icon-return"></span>
                </a>
                <h1 class="title font-30">赎回</h1>
            </header>
            <div class='updatePwd content native-scroll no-scroll-x'>
                <div class='list-block'>
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content oldPwd">
                                <div class="item-media"><img class='wh-1' src="images/lock.png"></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input class="font-15" type="password" placeholder="请输入资金密码，以验证身份">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-warp">
                    <div class="bigBtn sendPwd font-18">安全验证</div>
                </div>
                <div class="forgot-pwd">
                    <a href="javascript:void(0);">忘记密码？</a>
                    <a class="find-pwd" href="javascirpt:void(0);">找回</a>
                </div>
            </div>
        </div>
    </div>
    <!-- build:js js/app.min.js -->
	<script src="lib/zepto/zepto.js"></script>
	<script src="lib/echarts/echarts.min.js"></script>
	<script src="lib/zepto/deferred.js"></script>
	<script src="lib/zepto/callbacks.js"></script>
	<script src="lib/sm/sm.js"></script>
	<script src="lib/backbone/underscore-min.js"></script>
	<script src="lib/backbone/backbone.js"></script>
	<script src="lib/crypto/crypto-js.js"></script>
	<script src="script/common/config.js"></script>
	<script src="script/common/validate.js"></script>
	<script src="script/service/cache-service.js"></script>
	<script src="script/common/service-helper.js"></script>
	<script src="script/service/test-service.js"></script>
	<script src="script/controller/commonController.js"></script>
	<script src="script/controller/home.js"></script>
	<script src="script/controller/index.js"></script>
	<script src="script/controller/detail.js"></script>
	<script src="script/controller/settings.js"></script>
	<script src="script/controller/subscribe.js"></script>
	<script src="script/controller/setPwd.js"></script>
	<script src="script/controller/updatePwd.js"></script>
	<script src="script/controller/redeem.js"></script>
	<script src="script/controller/cardIndent.js"></script>
	<script src="script/controller/myAssets.js"></script>
	<script src="script/controller/invest.js"></script>
	<script src="script/controller/accountInfo.js"></script>
	<script src="script/controller/my.js"></script>
	<script src="script/controller/cardDetail.js"></script>
	<script src="script/controller/error.js"></script>
	
	<!-- endbuild -->

	<!-- 这段代码放在最后 -->
	<script>$(function() { $.init(); });</script>
	<script>
		(function (doc, win) {
		    var docEl = doc.documentElement;
		    var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';

		    var recalc = function () {
		        var clientWidth = docEl.clientWidth;
		        if (!clientWidth) return;
		        if(clientWidth>=640){
		            clientWidth=640;
		        }
		        docEl.style.fontSize = 20 * (clientWidth / 640) + 'px';
		    };
		    if (!doc.addEventListener) return;
		    win.addEventListener(resizeEvt, recalc, false);
		    doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
    <script src="script/common/alertMask.js"></script>
</body>

</html>
