<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>汇存钱</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/sm-extend.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/purchase.css">
    <link rel="stylesheet" href="css/redeem.css">
    <!-- endbuild -->
</head>


<body>
    <div class="page-group">
        <div class="page" id="detail-ctt">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" data-no-cache="true" href="/" data-transition='slide-out'>
                    <span class="icon-return"></span>
                </a>
                <h1 class="title font-30">修改每日申购金额</h1>
            </header>
            <div class="content paddind-b">
                <div class="db-money-chose">
                    <div class="desc font-15">请选择每日购买额度(元)</div>
                    <div class="money-wrap row">
                        <div class="money-div col-33">
                            <span class="font-18 buy-amt">1000</span>
                        </div>
                        <div class="money-div col-33">
                            <span class="font-18 buy-amt">3000</span>
                        </div>
                        <div class="money-div col-33">
                            <span class="font-18 buy-amt">5000</span>
                        </div>
                    </div>
                    <div class="money-wrap row">
                        <div class="money-div col-33">
                            <span class="font-18 buy-amt">10000</span>
                        </div>
                        <div class="money-div col-33">
                            <span class="font-18 buy-amt">50000</span>
                        </div>
                        <div class="money-div-else col-33">
                            <input placeholder="其他金额" class="font-18 buy-amt" type="number">
                        </div>
                    </div>
                </div>
                <div class="buy-wrap">
                    <div class="warnings font-18">温馨提醒</div>
                    <div class="predict font-10">预计8月30日产生收益，8月31日收益到账。</div>
                    <div class="buy-desc">
                        <p class="font-10">1.每月从交易流水中扣除相应金额购买理财产品</p>
                        <p class="font-10">2.购买成功第二个工作日开始赚取收益，同时可随时赎回</p>
                        <p class="font-10">3.当日交易流水不足购买金额时，将不购买理财产品</p>
                    </div>
                </div>
                <div class="footer-warp">
                    <div class="bigBtn apply-buy font-18">申请购买</div>
                </div>
                <div class="agreement-wrap">
                    <div class="agree-checkbox">
                        <input type="checkbox" class="agreement-check">
                    </div>
                    <div class="font-15">
                        <span class='agree-text'>同意</span><span class="cashbox-agreement">网站服务协议</span>
                    </div>
                </div>
                <div class="stop-wrap font-15">
                    <span>停止购买</span>
                </div>
            </div>
        </div>
    </div>
    <!-- build:js js/app.min.js -->
	<script src="lib/zepto/zepto.js"></script>
	<script src="lib/echarts/echarts.min.js"></script>
	<script src="lib/zepto/deferred.js"></script>
	<script src="lib/zepto/callbacks.js"></script>
	<script src="lib/sm/sm.js"></script>
	<script src="lib/backbone/underscore-min.js"></script>
	<script src="lib/backbone/backbone.js"></script>
	<script src="lib/crypto/crypto-js.js"></script>
	<script src="script/common/config.js"></script>
	<script src="script/common/validate.js"></script>
	<script src="script/service/cache-service.js"></script>
	<script src="script/common/service-helper.js"></script>
	<script src="script/service/test-service.js"></script>
	<script src="script/controller/commonController.js"></script>
	<script src="script/controller/home.js"></script>
	<script src="script/controller/index.js"></script>
	<script src="script/controller/detail.js"></script>
	<script src="script/controller/settings.js"></script>
	<script src="script/controller/subscribe.js"></script>
	<script src="script/controller/setPwd.js"></script>
	<script src="script/controller/updatePwd.js"></script>
	<script src="script/controller/redeem.js"></script>
	<script src="script/controller/cardIndent.js"></script>
	<script src="script/controller/myAssets.js"></script>
	<script src="script/controller/invest.js"></script>
	<script src="script/controller/accountInfo.js"></script>
	<script src="script/controller/my.js"></script>
	<script src="script/controller/cardDetail.js"></script>
	<script src="script/controller/error.js"></script>
	
	<!-- endbuild -->

	<!-- 这段代码放在最后 -->
	<script>$(function() { $.init(); });</script>
	<script>
		(function (doc, win) {
		    var docEl = doc.documentElement;
		    var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';

		    var recalc = function () {
		        var clientWidth = docEl.clientWidth;
		        if (!clientWidth) return;
		        if(clientWidth>=640){
		            clientWidth=640;
		        }
		        docEl.style.fontSize = 20 * (clientWidth / 640) + 'px';
		    };
		    if (!doc.addEventListener) return;
		    win.addEventListener(resizeEvt, recalc, false);
		    doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
</body>

</html>
