@charset "UTF-8";
/*====================我的资产==============================*/
#myassets .bar {
  border-bottom: 1px solid #e7e7e7; }

#myassets #assetsItems {
  background: #fff;
  padding-top: 4.4rem; }
  #myassets #assetsItems .circle {
    transition: stroke-dasharray 1s;
    -webkit-input-placeholder-moz-transition: stroke-dasharray 1s;
    -webkit-transition: stroke-dasharray 1s;
    -o-transition: stroke-dasharray 1s; }
  @media screen and (min-width: 320px) {
    #myassets #assetsItems .assetsTotal {
      position: absolute;
      top: 13rem;
      width: 100%;
      height: 5rem;
      text-align: center; }
      #myassets #assetsItems .assetsTotal .totalTit {
        display: block;
        font-size: 1.3rem;
        color: #8c8e93; }
      #myassets #assetsItems .assetsTotal .totalNum {
        display: block;
        font-size: 1.7rem;
        color: #000; } }
  @media screen and (max-width: 321px) {
    #myassets #assetsItems .assetsTotal {
      position: absolute;
      top: 13rem;
      width: 100%;
      height: 5rem;
      text-align: center; }
      #myassets #assetsItems .assetsTotal .totalTit {
        display: block;
        font-size: 1.3rem;
        color: #8c8e93; }
      #myassets #assetsItems .assetsTotal .totalNum {
        display: block;
        font-size: 1.7rem;
        color: #000; } }
  #myassets #assetsItems .totalList {
    padding-right: 1.5rem;
    height: 4.35rem;
    margin-left: 1.5rem;
    border-bottom: 1px solid #e7e7e7; }
    #myassets #assetsItems .totalList .list {
      float: left;
      margin-top: 1.8rem;
      border-radius: .6rem;
      width: .6rem;
      height: .6rem; }
    #myassets #assetsItems .totalList .listR {
      background: #ff9394; }
    #myassets #assetsItems .totalList .listY {
      background: #ffb74d; }
    #myassets #assetsItems .totalList .listO {
      background: #75aef5; }
    #myassets #assetsItems .totalList .listB {
      background: #5ac8d8; }
    #myassets #assetsItems .totalList .listLeft {
      float: left;
      margin-left: 1.15rem;
      font-size: 1.4rem;
      color: #666;
      height: 4.35rem;
      line-height: 4.35rem; }
    #myassets #assetsItems .totalList .listRight {
      float: right;
      font-size: 1.4rem;
      color: #000;
      height: 4.35rem;
      line-height: 4.35rem; }
  #myassets #assetsItems .totalLast {
    border: none; }

.capital-all > i,
.capital-road > i,
.capital-ing > i,
.capital-profit > i,
.capital-withdraw > i {
  display: inline-block;
  background-image: url(../images/capital.png);
  background-size: 2.4rem 13rem;
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2.4rem; }

.capital-all > i {
  background-position: 0 0; }

.capital-ing > i {
  background-position: 0 -2.6rem; }

.capital-road > i {
  background-position: 0 -5.3rem; }

.capital-profit > i {
  background-position: 0 -8rem; }

.capital-withdraw > i {
  background-position: 0 -10.75rem; }

/*===================个人中心========================*/
.userProfit-header {
  background-color: #ff8f3b; }
  .userProfit-header .title {
    color: #fff !important; }

.userProfit-header:after {
  background-color: transparent; }

.my-top {
  height: 22.5rem;
  padding-top: 4.4rem;
  background-color: #ff8f3b; }
  .my-top .my-top-first {
    height: 8.3rem;
    padding-top: 2rem;
    text-align: center; }
    .my-top .my-top-first .my-top-first-title {
      font-size: 1.35rem;
      color: rgba(255, 255, 255, 0.6); }
    .my-top .my-top-first .my-top-first-money {
      color: #fff;
      font-size: 3.5rem; }
  .my-top .my-top-second {
    height: 9.8rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    background: url("../img/userprofit-bg.png") no-repeat;
    background-size: contain; }
    .my-top .my-top-second .my-top-second-title {
      font-size: 1.35rem;
      color: rgba(255, 255, 255, 0.6); }
    .my-top .my-top-second .my-top-second-money {
      color: #fff;
      font-size: 2.1rem; }
    .my-top .my-top-second .my-top-position {
      height: 8.3rem;
      display: table-cell;
      vertical-align: bottom;
      width: 32rem; }
    .my-top .my-top-second .my-top-second-left {
      float: left; }
    .my-top .my-top-second .my-top-second-right {
      float: right;
      text-align: right; }

#product-about-ctt {
  padding-bottom: 4.4rem; }

.about-banner {
  background: #fff; }
  .about-banner img {
    width: 32rem;
    height: 25.2rem; }
  .about-banner .fund-description {
    padding: 1.5rem 1.5rem 1.75rem 1.5rem;
    font-size: 1.3rem;
    color: #333; }

.about-content ul {
  padding: 0;
  margin: 0; }
  .about-content ul li {
    list-style: none;
    padding: 1.1rem 1.5rem 1.75rem 1.5rem;
    color: #8c8c92;
    font-size: 1.2rem; }
    .about-content ul li .about-content-title {
      font-size: 1.5rem;
      color: #ff7f39; }
      .about-content ul li .about-content-title .about-icon {
        width: 1.5rem;
        height: 1.5rem;
        float: left;
        margin-top: .3rem; }
      .about-content ul li .about-content-title .about-icon-flower {
        background: url(../images/flower.png) no-repeat;
        background-size: 1.5rem 1.5rem; }
      .about-content ul li .about-content-title span {
        margin-left: .5rem; }
    .about-content ul li .about-content-detail {
      font-size: 1.2rem;
      color: #8c8c92;
      margin-top: 1.4rem; }
      .about-content ul li .about-content-detail p {
        margin: 0;
        line-height: 2.3rem; }
      .about-content ul li .about-content-detail .underline {
        font-size: 1.2rem;
        color: #333;
        text-decoration: underline; }
    .about-content ul li .about-content-subtitle {
      font-size: 1.2rem;
      color: #333; }
      .about-content ul li .about-content-subtitle .about-subicon {
        float: left;
        margin-top: .1rem;
        width: 1.6rem;
        height: 1.6rem; }
      .about-content ul li .about-content-subtitle .about-subicon-question {
        background: url(../images/question-mark.png) no-repeat;
        background-size: 1.6rem 1.6rem; }
      .about-content ul li .about-content-subtitle .about-subicon-tips {
        background: url(../images/tips.png) no-repeat;
        background-size: 1.6rem 1.6rem; }
      .about-content ul li .about-content-subtitle span {
        margin-left: .5rem; }
    .about-content ul li .about-content-subdetail {
      margin-top: 1rem; }
  .about-content ul li:nth-child(even) {
    background: #fff; }

.about-flow1 {
  background: url(../images/num-01.png) no-repeat;
  background-size: 1.7rem 1.7rem;
  padding-left: 2.2rem;
  margin-right: 4rem; }

.about-flow2 {
  background: url(../images/num-02.png) no-repeat;
  background-size: 1.7rem 1.7rem;
  padding-left: 2.2rem;
  margin-right: 4rem; }

.about-flow3 {
  background: url(../images/num-03.png) no-repeat;
  background-size: 1.7rem 1.7rem;
  padding-left: 2.2rem; }

.message-no-data {
  text-align: center; }
